:root {
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --animate-duration: 2000ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

html {
  overflow-x: hidden;
}

a {
  font-weight: 700;
  color: #f5f5f7;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  background-image: url("./assets/MartialArts.jpg");
  background-size: cover;
}

h1 {
  font-family: "Shojumaru", cursive;
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.5em;
  color: #40a7fc;
  text-align: center;
  padding: 0.3em 0em;
}

.gretting {
  font-size: 1.8em;
  color: #40a7fc;
  text-align: center;
}

h4 {
  font-size: 1.2em;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131314ce;
  padding: 0.5em 0em;
  color: #edeff5f6;
  padding: 2em;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  margin-bottom: 1.8em;
}

.menu-horizontal li {
  display: block;
  padding: 0.4em;
}

.menu-horizontal li:hover {
  background-color: #f5f5f738;
}

.menu-vertical {
  position: absolute;
  display: none;
}

.menu-vertical li {
  padding: 0.3em;
}

.menu-productos {
  position: relative;
  right: 10.6em;
}

.menu-horizontal:hover .menu-vertical {
  display: block;
}

.icon {
  font-size: 3em;
}

.cart-counter {
  font-size: 1.2em;
}

.container-icon {
  display: flex;
  flex-direction: column;
}

.iconCart {
  margin-top: 1em;
  font-size: 4em;
  color: #fc9801;
  text-align: center;
}

.carrito-vacio {
  font-size: 2.5em;
}

.volver-tienda {
  padding: 0.7em;
  color: #f5f5f7;
  background-color: #131314ce;
  font-family: "Shojumaru", cursive;
  font-size: 2em;
}

.volver-tienda:hover{
  border: solid 1px;
}

/* -------CARDS-------- */

.main-catalogue {
  display: flex;
}



.container__cards {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.card {
  width: 16em;
  margin: 0.1em;
  padding: 0.8em;
  -webkit-box-shadow: 11px -12px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px -12px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 11px -12px 3px -1px rgba(0, 0, 0, 0.75);
  background: #f5f5f738;
}

.cover__card {
  width: 100%;
  height: 10em;
  overflow: hidden;
}

.cover__card img {
  width: 100%;
}

.card h4 {
  text-align: center;
  color: #f5f5f7;
}

.precio {
  color: #43f051;
}

.card p {
  color: #f5f5f7;
  font-weight: 100;
  text-align: justify;
}

.card hr {
  border: none;
  margin-top: 1em;
  height: 0.2em;
}

.footer__Card h4 {
  color: #fc9801;
  text-align: center;
  font-size: 1.5em;
}

.btn {
  font-size: 1em;
  font-family: "lato";
  background-color: #131314d0;
  border: none;
  margin-bottom: 0.5em;
  width: 40%;
  padding: 0.7em;
  display: flex;
  color: #f5f5f7;
  font-weight: bold;
  justify-content: center;
}

.btn :hover {
  color: #fc9801;
}

/* ----------CARTFORM------------ */

.conteiner-form {
  max-width: 1170px;
  margin: auto;
  padding: 2em;
  color: #f5f5f7;
}

.contactanos {
  color: #fc9801;
  margin-bottom: 0.5em;
  margin-left: 5em;
}

.container-two-parts {
  -webkit-box-shadow: 11px -12px 3px -1px rgba(250, 250, 250, 0.466);
  -moz-box-shadow: 11px -12px 3px -1px rgba(255, 255, 255, 0.527);
  box-shadow: 11px -12px 3px -1px rgba(255, 255, 255, 0.438);
  background: #131314ce;
  width: 100%;
}

.container-two-parts > * {
  padding: 1.5em;
}

.container-two-parts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-contact form p {
  padding: 0.5em;
}

.container-contact form button,
.container-contact form input,
.container-contact form textarea {
  width: 100%;
  padding: 0.8em;
  border: none;
  background: none;
  border-bottom: 1px solid #fc9801;
  outline: 0;
  color: #fc9801;
  font-weight: 700;
}

.container-contact form button {
  background-color: #f5f5f7;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 1em;
}

.container-contact form button:hover,
.container-contact form button:focus {
  background-color: #fc9801;
  font-weight: 700;
  color: #f5f5f7;
  transition: background-color 500ms ease-out;
}

.container-info h3,
.container-info h4,
.container-info ul,
.container-info li,
.container-info p,
.container-info span {
  text-align: center;
}

.container-info li {
  padding: 0.3em;
}

.container-info p {
  padding: 1em;
}

.container-info h4 {
  font-family: "Shojumaru", cursive;
  margin-bottom: 3em;
}

.more-info {
  font-size: 2em;
  color: #3fa5f8;
}

/* ----------CONTADOR DEL CARRITO------------ */

.Button-group {
  display: flex;
}

.center button {
  padding: 0.5em;
  background-color: #fc980188;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 700;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
}

.center button:hover {
  border: solid 1px;
}

.signos {
  background-color: transparent;
  color: #f5f5f7;
  font-size: 2em;
  cursor: pointer;
}
